
	/* This is used 
	for validation */
	.h1 {font-family: 'Satisfy', cursive;}
	.warning {
		font-weight: bold;
		color: red;
	} 
	
	.redback {
		background-color: rgb(255,0,0);
	}
	
	.rgbared {
		background-color: rgba(255,0,0,0.5);
	}

	.hexared {
		background-color: #ff0000;
		background-color: #f00;
	}
	
	.redback2 {
		background-color: red;
	}
	
	.lemonback {
		background-color: LemonChiffon;
	}
	
	.tanback {
		background-color: tan;
		font-family: 'Satisfy', cursive;
		font-size: larger;
		text-shadow: 4px 4px 4px #fff;
		color: #431B01;}
	}
	
	.sunflowerback {
		background-image: url("sunflowers.jpg");		
			}
	
	.tile2 {
		background: url("../images/confetti.gif") repeat;
		height: 200px;
	}
	
	.blog-indent {
		text-indent: 25%;
	}
	
	
	@font-face {
		font-family: "Arial Black";
		font-style: normal;
		font-weight: 400;
		src: url("http://path.to/myfont.woff2");
	}
	
	
	
	a {
		font-family: monospace;
		text-decoration: underline;
		font-weight: none;
	}
	
	a:link {
	  color: brown;
	}

	a:visited {
		color: darkbrown;
	}

	a:hover {
	 text-decoration: none;
	 color: #00c; 
	 font-family: cursive;
	 font-weight: bold;
	}

	a:active {
		text-decoration: none;
	}
	
	
	