
	/* This is used 
	for validation */
	
	
	
	
	
	
	a {
		font-family: monospace;
		text-decoration: none;
		font-weight: none;
	}

	a:link {
	  color: maroon;
	}

	a:visited {
		color: Red;
	}

	a:hover {
	 text-decoration: none;
	 text-decoration: underline;
	 background-color: lemonChiffon;
	 color: #00c; 
	 font-family: cursive;
	}

	a:active {
		font-weight:bold;
	}
	
	
	